@import url('default.css');

@media screen and (max-width:640px){

 /* Header_M */
 header {
  height: 45px;
}
header h1 a {
  width: 53px;
  height: 25px;
}
header .menu {
  display: block;
}
header .gnb button {
  display: block;
}
header .gnb button i {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}
header .gnb button span {
  display: none;
}
header .gnb ul {
  display: none;
} /* 메뉴 숨김 */
header .tnb {
  display: none;
}
header.fixed .gnb button i {
  color: #1d1d1d;
}

/* visual_M */
.visual {
  height: 462px;
}
.visual h2 {
  font-size: 25px;
  text-align: center;
}
.visual h2 span {
  display: inline;
}
.visual .inner p {
  display: none;
}

/* biz_M */
.biz .group1 {
    margin: 60px 0 30px 0;
}
.biz .group2 {
  margin-bottom: 30px;
}
.biz .fleft img {
  float: none;
}
.biz .fright img {
  float: none;
}
.biz img {
  width: 100%;
}
.biz .inner {
  width: auto;
}
.biz .fleft .inner {
  float: none;
  margin: 0;
}
.biz .fright .inner {
  float: none;
  margin: 0;
}
.biz .link ul li {
  flex-basis: 110px;
}
.biz h2 {
  margin: 15px 0 8px 0;
  font-size: 25px;
  font-weight: 700;
}

/* purpose_M */
.purpose {
  margin: 70px 0;
  height: auto;
  padding-bottom : 40px;
}
.purpose h2 {
  padding: 60px 0 50px 0;
  font-size: 25px;
}
.purpose h2 strong::before {
  left: -29px;
  top: -51px;
}
.purpose h2 strong::after {
  right: -56px;
  bottom: -43px;
}
.purpose h2 strong::before, 
.purpose h2 strong::after {
  background-size: 35px auto;
}

/* news_M */
.news ul {
  display: block;
  gap: 0;
}
.news ul li {
  width: auto;
  margin-bottom: 20px;
}
.news ul li a .cate {
  margin: 15px 15px 5px 15px;
}

.news ul li a .tit {
  margin: 0 15px;
}
.news ul li a .date {
  margin: 0;
  padding: 15px 15px 10px 15px;
}

/* footer_M */
footer {
  padding: 25px 0 55px 0;
}
footer .family {
  float: none;
}
footer .family button {
  width: 160px;
  height: 32px;
}
footer .inner {
  float: none;
}
footer .inner .fnav {
  margin-top: 30px;
}
}